NODE_ENV=development
PORT=3000
DATABASE=<LINK TO MONGO ATLAS>
DATABASE_LOCAL=<LINK TO LOCAL DB (if not using global)>
DATABASE_PASSWORD=
JWT_SECRET=<JTW_SECRET>
JWT_EXPIRES_IN=<TIME TO EXPIRE>

//following things provided by mailtrap
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=