doctype html
html(lang="en")
    head 
        //- meta(http-equiv='Content-Security-Policy', content="script-src 'self' api.mapbox.com *;")
        script(src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js' )
        link(href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet')        
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet" href="/css/style.css")
            link(rel="shortcut icon" href="/img/favicon.png" type="image/png")
            title Natours | #{title}
    body
        // HEADER
        include _header

        // CONTENT
        block content

        // FOOTER
        include _footer

        script(src="/js/mapbox.js")